@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/logo.png"/>
    <p>Home da alicação em ASP.NET Core 3.1 com Docker e conectando com o Azure Active Directory.</p>
</div>
